@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    XCE Group c/o ICUBE UTM<br/>
    3359 Mississauga Road<br />
    Mississauga ON, L5L 1C6<br />
    KN 2200 – Innovation Complex<br />

    <br />
    <abbr title="Phone">P:</abbr>
    647.700.6125
</address>

<address>
    <strong>Support:</strong> <a href="mailto:smit.rao@mail.utoronto.ca">smit.rao@mail.utoronto.ca</a>
</address>
